* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: rgba(150, 215, 253, 0.863);
}

.header {
    
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(221, 221, 221, 0.466);
    font-size: 30px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.514);
}
.again{
    font-size: 20px;
    padding:5px;
    background-color: rgb(26, 81, 139);
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
    color: white;
    cursor:pointer
}
.again:hover {
    box-shadow: 1px 1px 9px black;
}

.again:active {
    background-color: rgb(20, 54, 98);
}
.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    width:max-content;
    margin: 20px auto 40px auto;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    gap: 50px;
    
 
}

.hangman {
    background-image: url('image/hangman0.png');
    max-width: 50%;
    width: 209px;
    height: 216px;

}

.derecha {

    width: 50%;

}

.word-box {
    display: flex;
    justify-content: center;
    font-size: 60px;

}

.letters {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto 40px auto;
    gap: 30px;

}

.letter {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    color: rgb(224, 224, 224);
    background-color: rgb(26, 81, 139);
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

.letter:hover {
    box-shadow: 1px 1px 9px black;
}

.letter:active {
    background-color: rgb(20, 54, 98);
}
.used{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding:5px 50px;
    font-size: 29px;
    
}


@media all and (max-width:800px){


.letters {
    /* width: 90%; */
    /* margin: 0 auto 40px auto; */
    /* gap: 30px; */
    width: 95%;
    margin: 0 auto 15px auto;
    gap: 10px;
  }
  
  .letter {
    /* padding: 10px; */
    /* font-size: 50px; */
    padding: 8px;
    font-size: 36px;
  }
  
  .word-box {
    /* font-size: 60px; */
    font-size: 23px;
  }
  
  .section {
    /* flex-direction: row; */
    /* margin: 20px auto 40px auto; */
    /* gap: 50px; */
    flex-direction: column;
    margin: 3px auto 30px auto;
    gap: 5px;
  }
  
  .used {
    /* font-size: 29px; */
    font-size: 20px;
  }
  
  .header {
    /* font-size: 30px; */ 
    font-size: 15px;
    padding: 5px 6px;
    justify-content: space-between;

  }
  
  .again {
    /* font-size: 20px; */
    /* padding:5px */
    font-size: 12px;
    width: 49px;
    text-align: center;
    padding: 5px 20px;
  }
  
  .hangman {
    /* max-width: 50%; */
    /* width: 209px; */
    /* height: 216px; */
    max-width: 74%;
    width: 273px;
    height: 212px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;    
  }
  .title{
    width: 132px;
    text-align: center;
  }
}
